@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

.split-right {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
    background-color: rgba(1, 43, 81, 1)
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    height: 500px;
    width: 500px;
    border-radius: 10%;
  }

.heading {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 200;
}


/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
  border: 1px solid rgb(1, 43, 81);
  border-radius: 10%;
}

.signin-h1 {
  color: rgba(1, 43, 81, 1);
  font-family: 'Montserrat';
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Montserrat';
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 2rem 0;
  width: 100%;
}

.button-panel .button {
  background: rgba(1, 43, 81, 0.85);
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Montserrat';
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 20px;
}

.button:hover {
  background: rgba(1, 43, 81, 1);
}

